 <h3>Anagrafica Sedi</h3>
 @page "/AnagraficaSedi"


    <table>
        <tr>
            <th>Sede</th>
            <th>Indirizzo</th>
            <th>Recapito Telefonico</th>
            <th>Indirizzo e-mail</th>
            <th>ID Referente</th>
        </tr>

    </table>

    <button type="button" onclick="alert('Hello world!')">Aggiungi sede</button>

