<h3>SoftSkills</h3>
@page "/AnagraficaSoftSkills"
@using HumanResourcesManagementAPI.Models
@inject HttpClient HttpClient
@inject Microsoft.AspNetCore.Components.NavigationManager NavigationManager
@inject IJSRuntime JS

<button type="button" class="btn btn-primary" @onclick="ApriFinestraModale">Aggiungi SoftSkills</button>
@if (mostraFinestraModale)
{
    <div class="modal show" tabindex="-1" style="display: block; background: rgba(0, 0, 0, 0.5);">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Dati SoftSkills</h1>
                    <button type="button" class="btn-close" @onclick="ChiudiFinestraModale" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <form @onsubmit="AggiungiSoftSkill">
                        Descrizione <input type="text" @bind="nuovaSoftSkill.Descrizione" required /><br />
                        
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" @onclick="ChiudiFinestraModale">Chiudi</button>
                            <input type="reset" class="btn btn-secondary" value="Cancella" />
                            <button type="submit" class="btn btn-primary">Salva</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
}
<table>
    <tr>
        <th>Descrizione</th>
        <th>Modifica</th>
        <th>Elimina</th>
    </tr>
</table>

@if (mostraMessaggio)
{
    <div class="modal show" tabindex="-1" style="display: block; background: rgba(0, 0, 0, 0.5);">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="messaggioTitle">Successo</h1>
                    <button type="button" class="btn-close" @onclick="ChiudiMessaggio" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>La Soft Skill è stata aggiunta con successo!</p>
                </div>
            </div>
        </div>
    </div>
}

    @if (listaSoftSkills != null)

        @foreach (var softskills in listaSoftSkills)
        {
            <tr>
                <td>@softskills.Descrizione</td>
                <td> <button class="btn btn-primary" @onclick="() => ModificaSoftSkill(softskills)">Modifica</button></td>
                <td> <button class="btn btn-danger" @onclick="() => EliminaSoftSkill(softskills)">Elimina</button></td>
            </tr>
        }

    @if (softskillDaModificare != null)
    {
        <div class="modal show" tabindex="-1" style="display: block; background: rgba(0, 0, 0, 0.5);">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="modificasoftSkill">Modifica softSkill</h1>
                        <button type="button" class="btn-close" aria-label="Close" @onclick="ChiudiFinestraModifica"></button>
                    </div>
                    <div class="modal-body">
                        <form @onsubmit="SalvaModifiche">
                            Descrizione <input type="text" @bind="softskillDaModificare.Descrizione" required /><br /><br />
                            <button type="button" class="btn btn-secondary" @onclick="ChiudiFinestraModifica">Annulla</button>
                            <button type="submit" class="btn btn-primary">Salva Modifiche</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    }

        @if (softskillDaEliminare != null)
        {
        <div class="modal show" tabindex="-1" style="display: block; background: rgba(0, 0, 0, 0.5);">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="confermaEliminazioneTitle">Conferma Eliminazione</h1>
                        <button type="button" class="btn-close" @onclick="AnnullaEliminazione" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p>Sei sicuro di voler eliminare questa hard skill?</p>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" @onclick="AnnullaEliminazione">Annulla</button>
                        <button class="btn btn-danger" @onclick="ConfermaEliminazione">Elimina</button>
                    </div>
                </div>
            </div>
        </div>
        }


@code
{
    private bool mostraFinestraModale = false;
    private bool mostraMessaggio = false;
    private SoftSkill nuovaSoftSkill = new SoftSkill();
    private List<SoftSkill>? listaSoftSkills;
    private SoftSkill? softskillDaModificare = null;
    private SoftSkill? softskillDaEliminare = null;

    private void ModificaSoftSkill(SoftSkill softSkill)
    {
        softskillDaModificare = softSkill;
    }

    private async Task SalvaModifiche()
    {
        if (softskillDaModificare != null)
        {
            var response = await HttpClient.PutAsJsonAsync("api/SoftSkill", softskillDaModificare);

            if (response.IsSuccessStatusCode)
            {
                softskillDaModificare = null;
                await GetAll();
            }
            else
            {
                Console.WriteLine("Errore durante la modifica della soft skill.");
            }
        }
    }

    private void EliminaSoftSkill(SoftSkill softSkill)
    {
        softskillDaEliminare = softSkill;
    }

    private void AnnullaEliminazione()
    {
        softskillDaEliminare = null;
    }

    private async Task ConfermaEliminazione()
    {
        if (softskillDaEliminare != null)
        {
            var response = await HttpClient.DeleteAsync($"api/SoftSkill/{softskillDaEliminare.Id}");

            if (response.IsSuccessStatusCode)
            {
                softskillDaEliminare = null;
                await GetAll();
            }
            else
            {
                Console.WriteLine("Errore durante l'eliminazione della soft skill.");
            }
        }
    }


    private void ApriFinestraModale()
    {
        mostraFinestraModale = true;
    }

    private void ChiudiFinestraModale()
    {
        mostraFinestraModale = false;
    }

    private void ChiudiFinestraModifica()
    {
        softskillDaModificare = null;
    }

    private void ChiudiMessaggio()
    {
        mostraMessaggio = false;
    }

    protected override async Task OnInitializedAsync()
    {

        await GetAll();
    }

    private async Task GetAll()
    {
        try
        {
            listaSoftSkills = await HttpClient.GetFromJsonAsync<List<SoftSkill>>("api/SoftSkill");
        }
        catch (HttpRequestException)
        {
            return;
        }

    }

    private async Task AggiungiSoftSkill()
    {
        if (IsValid(nuovaSoftSkill))
        {
            var response = await HttpClient.PostAsJsonAsync("api/SoftSkill", nuovaSoftSkill);

            if (response.IsSuccessStatusCode)
            {
                var softskillCreato = await response.Content.ReadFromJsonAsync<SoftSkill>();
                if (listaSoftSkills != null && softskillCreato != null)
                {
                    listaSoftSkills.Add(softskillCreato);
                    nuovaSoftSkill = new SoftSkill();
                    mostraFinestraModale = false;
                    mostraMessaggio = true;
                }
            }
            else
            {
                Console.WriteLine("Errore durante l'aggiunta della softskill.");
            }
        }
    }

    private bool IsValid(SoftSkill softskill)
    {
        return !string.IsNullOrWhiteSpace(softskill.Descrizione);
    }
}











@* <div>
    <div class="row">
        <div class="col-5">
            <div class="form-check form-check-group">
                <input id="checkbox6" type="checkbox" checked="checked">
                <label for="checkbox6">Team management</label>
            </div>

            <div class="form-check form-check-group">
                <input id="checkbox6" type="checkbox" checked="checked">
                <label for="checkbox6">Lateral thinking</label>
            </div>

            <div class="form-check form-check-group">
                <input id="checkbox6" type="checkbox" checked="checked">
                <label for="checkbox6">Teamwork</label>
            </div>

            <div class="form-check form-check-group">
                <input id="checkbox6" type="checkbox" checked="checked">
                <label for="checkbox6">Leadershep</label>
            </div>

            <div class="form-check form-check-group">
                <input id="checkbox6" type="checkbox" checked="checked">
                <label for="checkbox6">Problem solving</label>
            </div>
            
        </div>
    </div>
</div> 
    
    
        
    <tbody>
        <tr>
            <td>Team management </td>
            <td>
                <div class="btn" role="group" aria-label="Scelta">
                    <button type="button" class="btn btn-danger" onclick="selectOption('red')">0</button>
                    <button type="button" class="btn btn-warning" onclick="selectOption('yellow')">1</button>
                    <button type="button" class="btn btn-success" onclick="selectOption('green')">2</button>
                </div>
            </td>
        </tr>

        <tr>
            <td>Lateral thinking</td>
            <td>
               
                <div class="btn" role="group" aria-label="Scelta">
                    <button type="button" class="btn btn-danger" onclick="selectOption('red')">0</button>
                    <button type="button" class="btn btn-warning" onclick="selectOption('yellow')">1</button>
                    <button type="button" class="btn btn-success" onclick="selectOption('green')">2</button>
                </div>
            </td>
        </tr>
 
        <tr>
            <td>Teamwork</td>
            <td>
                <div class="btn" role="group" aria-label="Scelta">
                    <button type="button" class="btn btn-danger" onclick="selectOption('red')">0</button>

                    <button type="button" class="btn btn-warning" onclick="selectOption('yellow')">1</button>

                    <button type="button" class="btn btn-success" onclick="selectOption('green')">2</button>
                </div>
            </td>
        </tr>

        <tr>
            <td>Leadershep</td>
            <td>
                <div class="btn" role="group" aria-label="Scelta">
                    <button type="button" class="btn btn-danger" onclick="selectOption('red')">0</button>
                    <button type="button" class="btn btn-warning" onclick="selectOption('yellow')">1</button>
                    <button type="button" class="btn btn-success" onclick="selectOption('green')">2</button>
                </div>
            </td>
        </tr>

        <tr>
            <td>Problem solving</td>
            <td>
                <div class="btn" role="group" aria-label="Scelta">
                    <button type="button" class="btn btn-danger" onclick="selectOption('red')">0</button>
                    <button type="button" class="btn btn-warning" onclick="selectOption('yellow')">1</button>
                    <button type="button" class="btn btn-success" onclick="selectOption('green')">2</button>
                </div>
            </td>
        </tr>

    </tbody>


<table width="10%" border="1" align="center">

    <tr>
        <td bgcolor="#D2D2D2"></td>
        <font-weight-bold>
            <td bgcolor="#D2D2D2">LEGENDA </td>
        </font-weight-bold>
    </tr>

    <tbody>
        <tr>
            <td bgcolor="DC3545">0 </td>
            <td bgcolor="DC3545">Saturo</td>
        </tr>

        <tr>
            <td bgcolor="FFC107">1</td>
            <td bgcolor="FFC107">Parziale</td>
        </tr>

        <tr>
            <td bgcolor="198754">2</td>
            <td bgcolor="198754">Libero</td>
        </tr>
    </tbody>
</table>
 *@