@using HumanResourcesManagementAPI.Models
@inject HttpClient HttpClient
@inject Microsoft.AspNetCore.Components.NavigationManager NavigationManager
@inject IJSRuntime JS
@page "/AnagraficaCandidato"

<h3>AnagraficaCandidato</h3>

<button type="button" class="btn btn-primary" @onclick="ApriFinestraModale">Aggiungi Candidato</button>

@if (mostraFinestraModale)
{
    <div class="modal show" tabindex="-1" style="display: block; background: rgba(0, 0, 0, 0.5);">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Dati Candidato</h1>
                    <button type="button" class="btn-close" @onclick="ChiudiFinestraModale" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form @onsubmit="AggiungiCandidato">
                        Nome <input type="text" @bind="nuovoCandidato.Nome" required/><br /><br/>
                        Cognome <input type="text" @bind="nuovoCandidato.Cognome" required/><br /><br />
                        Codice Fiscale <input type="text" @bind="nuovoCandidato.CF" required /><br /><br />
                        Data Di Nascita <input type="date" @bind="nuovoCandidato.DataDiNascita" required /><br /><br />
                        Email <input type="text" @bind="nuovoCandidato.Email" required /><br /><br />
                        Recapito Telefonico <input type="text" @bind="nuovoCandidato.RecapitoTelefonico" required /><br /><br />
                        Comune <input type="text" @bind="nuovoCandidato.Comune" required /><br /><br />
                        Provincia <input type="text" @bind="nuovoCandidato.Provincia" required /><br /><br />
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" @onclick="ChiudiFinestraModale">Chiudi</button>
                            <input type="reset" class="btn btn-secondary" value="Cancella" />
                            <button type="submit" class="btn btn-primary">Salva</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
}

@if (mostraMessaggio)
{
    <div class="modal show" tabindex="-1" style="display: block; background: rgba(0, 0, 0, 0.5);">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="messaggioTitle">Successo</h1>
                    <button type="button" class="btn-close" @onclick="ChiudiMessaggio" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Il candidato è stato aggiunto con successo!</p>
                </div>
            </div>
        </div>
    </div>
}

<table>
    <tr>
        <th>Nome</th>
        <th>Cognome</th>
        <th>Recapito Telefonico</th>
        <th>CF</th>
        <th>Indirizzo e-mail</th>
        <th>Comune</th>
        <th>Provincia</th>
        <th>Data di nascita</th>
        <th>Modifica</th>
        <th>Elimina</th>
    </tr>
</table>

@code {
    private bool mostraFinestraModale = false;
    private bool mostraMessaggio = false;
    private bool mostraFinestraModifica = false;

    private List<Candidato>? listaCandidati;
    private Candidato nuovoCandidato = new Candidato();
    private Candidato? candidatoDaModificare = null;
    private Candidato? candidatoDaEliminare = null;

    private void ModificaCandidato(Candidato candidato)
    {
        candidatoDaModificare = candidato;
    }

    private async Task SalvaModifiche()
    {
        if (candidatoDaModificare != null)
        {
            var response = await HttpClient.PutAsJsonAsync("api/Candidato", candidatoDaModificare);

            if (response.IsSuccessStatusCode)
            {
                candidatoDaModificare = null;
                await GetAll();
            }
            else
            {
                Console.WriteLine("Errore durante la modifica del candidato.");
            }
        }
    }

    private void EliminaCandidato(Candidato candidato)
    {
        candidatoDaEliminare = candidato;
    }

    private void AnnullaEliminazione()
    {
        candidatoDaEliminare = null;
    }

    private async Task ConfermaEliminazione()
    {
        if (candidatoDaEliminare != null)
        {
            var response = await HttpClient.DeleteAsync($"api/Candidato/{candidatoDaEliminare.Id}");

            if (response.IsSuccessStatusCode)
            {
                candidatoDaEliminare = null;
                await GetAll();
            }
            else
            {
                Console.WriteLine("Errore durante l'eliminazione del candidato.");
            }
        }
    }

    private void ApriFinestraModale()
    {
        mostraFinestraModale = true;
    }

    private void ChiudiFinestraModale()
    {
        mostraFinestraModale = false;
    }   

    //private void ApriFinestraModifica()
    //{
    //    mostraFinestraModifica = true;
    //}

    private void ChiudiFinestraModifica()
    {
        candidatoDaModificare = null;
    }

    private void ChiudiMessaggio()
    {
        mostraMessaggio = false;
    }

    protected override async Task OnInitializedAsync()
    {
        await GetAll();
    }

    private async Task GetAll()
    {
        try
        {
            listaCandidati = await HttpClient.GetFromJsonAsync<List<Candidato>>("api/Candidato");
        }
        catch (HttpRequestException)
        {
            return;
        }

    }

    private async Task AggiungiCandidato()
    {
        if (IsValid(nuovoCandidato))
        {
            var response = await HttpClient.PostAsJsonAsync("api/Candidato", nuovoCandidato);

            if (response.IsSuccessStatusCode)
            {
                var candidatoCreato = await response.Content.ReadFromJsonAsync<Candidato>();
                if (listaCandidati != null && candidatoCreato != null)
                {
                    listaCandidati.Add(candidatoCreato);
                    nuovoCandidato = new Candidato();
                    mostraFinestraModale = false;
                    mostraMessaggio = true;
                }
            }
            else
            {
                Console.WriteLine("Errore durante l'aggiunta del candidato.");
            }
        }
    }

    private bool IsValid(Candidato candidato)
    {
        return !string.IsNullOrWhiteSpace(candidato.Nome)
            && !string.IsNullOrWhiteSpace(candidato.Cognome)
            && !string.IsNullOrWhiteSpace(candidato.CF)
            && !string.IsNullOrWhiteSpace(candidato.Email)
            && !string.IsNullOrWhiteSpace(candidato.Provincia)
            && !string.IsNullOrWhiteSpace(candidato.Comune)
            && !string.IsNullOrWhiteSpace(candidato.RecapitoTelefonico);
    }
}
