<h3>AnagraficaCandidato</h3>
@page "/AnagraficaCandidato"

<!DOCTYPE html>
<html>
<head>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            padding: 8px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }
    </style>
</head>
<body>


    <table>
        <tr>
            <th>Nome</th>
            <th>Cognome</th>
            <th>Recapito Telefonico</th>
            <th>CF</th>
            <th>Indirizzo e-mail</th>
            <th>Comune</th>
            <th>Provincia</th>
            <th>Data di nascita</th>
            <th>Colloquio</th>
            <th>Colloquio ID</th>
        </tr>
        
    </table>

</body>
</html>