<h3>InserimentoDatiColloquiante</h3>
@page "/InserimentoDatiColloquiante"


    <table>
        <tr>
            <th>Nome</th>
            <th>Cognome</th>
            <th>Recapito telefonico</th>
            <th>Codice fiscale</th>
            <th>Indirizzo e-mail</th>
            <th>Comune</th>
            <th>Provincia</th>
            <th>Data di nascita</th>
            <th>Colloquio</th>
            <th>Colloquio ID</th>
            <th>Esperienze lavorative</th>
        </tr>
    </table>
