<h3>InserimentoColloquio</h3>
@page "/InserimentoColloquio"


    <table>
        <tr>
            <th>Data Colloquio</th>
            <th>Sede Colloquio ID</th>
            <th>Sede</th>
            <th>Dipendente Colloquio ID</th>
            <th>Dipendente</th>
            <th>Tipologia Colloquio</th>
            <th>Tipologia Colloquio ID</th>
            <th>Candidato</th>
            <th>Candidato ID</th>
            <th>Note</th>
        </tr>
    </table>

    <button type="button" onclick="alert('Hello world!')">Aggiungi colloquio</button>

