<h3>Mansioni</h3>
@page "/Mansioni"

    <table>
        <tr>
            <th>Descrizioni</th>
        </tr>
    </table>

     <label for="scelta">Scegli: </label>
    
    <div class="container mt-3">
        <div class="btn-group" role="group" aria-label="Scelta">
            <button type="button" class="btn btn-primary" onclick="selectOption('si')">Sì</button>
            <button type="button" class="btn btn-secondary" onclick="selectOption('no')">No</button>
        </div>
    </div>

