<h3>SoftSkills</h3>
@page "/SoftSkills"

    <style>
        table, td, th 
        {
            border: 1px solid black;
        }

        table 
        {
            border-collapse: collapse;
            width: 40%;
        }
    </style>

    <table>
        <tr>
            <th>LEGENDA</th>
        </tr>

        <tr>
            <td>0</td>
            <td>Nessuna competenza</td>
        </tr>

        <tr>
            <td>1</td>
            <td>Competenze parziali</td>
        </tr>

        <tr>
            <td>2</td>
            <td>Può ricoprire tutte le posizioni</td>
        </tr>

    </table>




