@using HumanResourcesManagementAPI.Models
@inject HttpClient HttpClient
@inject Microsoft.AspNetCore.Components.NavigationManager NavigationManager
@inject IJSRuntime JS
@page "/Benefits"
<h3>Benefits</h3>

<button type="button" class="btn btn-primary" @onclick="ApriFinestraModale" >Aggiungi Benefits</button>
@if (mostraFinestraModale)
{
    <div class="modal show" tabindex="-1" style="display: block; background: rgba(0, 0, 0, 0.5);">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Benefits</h1>
                    <button type="button" class="btn-close" @onclick="ChiudiFinestraModale" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form @onsubmit="AggiungiBenefits">
                        Descrizione <input type="text" class="form-control" @bind="nuovoBenefits" required /><br />
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" @onclick="ChiudiFinestraModale">Chiudi</button>
                            <input type="reset" class="btn btn-secondary" value="Cancella" />
                            <button type="submit" class="btn btn-primary">Salva</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
}

<table>
    <tr>
        <th>Descrizione</th>
    </tr>
</table>

<label for="scelta">Scegli: </label>

<div class="container mt-3">
    <div class="btn-group" role="group" aria-label="Scelta">
        <button type="button" class="btn btn-primary" onclick="selectOption('si')">Sì</button>
        <button type="button" class="btn btn-secondary" onclick="selectOption('no')">No</button>
    </div>
</div>

@if (mostraMessaggio)
{
    <div class="modal show" tabindex="-1" style="display: block; background: rgba(0, 0, 0, 0.5);">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="messaggioTitle">Successo</h1>
                    <button type="button" class="btn-close" @onclick="ChiudiMessaggio" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Il Benefit è stato aggiunto con successo!</p>
                </div>
            </div>
        </div>
    </div>
}

<table>
        <tr>
            <th>Descrizione</th>
        </tr>

@if (listaBenefits != null)
    
        @foreach (var benefits in listaBenefits)
        {
            <tr>
                <td>@benefits.Descrizione</td>
            </tr>
        }
       
</table>

@code
{
    private bool chiusurafinestra = false;
    private bool mostraFinestraModale = false;
    private bool mostraMessaggio = false;
    private Benefits nuovoBenefits = new Benefits();
    private List<Benefits>? listaBenefits;

    private void ApriFinestraModale()
    {
        mostraFinestraModale = true;
    }

    private void ChiudiFinestraModale()
    {
        mostraFinestraModale = false;
    }

    private void ChiudiMessaggio()
    {
        mostraMessaggio = false;
    }

    protected override async Task OnInitializedAsync()
    {

        await GetAll();
    }

    private async Task GetAll()
    {
        try
        {
            listaBenefits = await HttpClient.GetFromJsonAsync<List<Benefits>>("api/Benefits");
        }
        catch (HttpRequestException)
        {
            return;
        }

    }

    private async Task AggiungiBenefits()
    {
        if (IsValid(nuovoBenefits))
        {
            var response = await HttpClient.PostAsJsonAsync("api/Benefits", nuovoBenefits);

            if (response.IsSuccessStatusCode)
            {
                var benefitsCreato = await response.Content.ReadFromJsonAsync<Benefits>();
                if (listaBenefits != null && benefitsCreato != null)
                {
                    listaBenefits.Add(benefitsCreato);
                    nuovoBenefits = new Benefits();
                    mostraFinestraModale = false;
                    mostraMessaggio = true;
                }
            }
            else
            {
                Console.WriteLine("Errore durante l'aggiunta del benefits.");
            }
        }
    }

    private bool IsValid(Benefits benefits)
    {
        return !string.IsNullOrWhiteSpace(benefits.Descrizione);
    }

    
}

    

