<h3>TipologiaDocumenti</h3>
@page "/TipologiaDocumenti"
@using HumanResourcesManagementAPI.Models
@inject HttpClient HttpClient
@inject Microsoft.AspNetCore.Components.NavigationManager NavigationManager
@inject IJSRuntime JS


<button type="button" class="btn btn-primary" @onclick="ApriFinestraModale">Aggiungi TipologiaDocumenti </button>
@if (mostraFinestraModale)
{
    <div class="modal show" tabindex="-1" style="display: block; background: rgba(0, 0, 0, 0.5);">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Dati TipologiaDocumenti</h1>
                    <button type="button" class="btn-close" @onclick="ChiudiFinestraModale" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form @onsubmit="AggiungiTipologiaDocumenti">
                        Descrizione <input type="text" class="form-control" @bind="nuovaTipologiaDocumento.Descrizione" required /><br />
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" @onclick="ChiudiFinestraModale">Chiudi</button>
                            <input type="reset" class="btn btn-secondary" value="Cancella" />
                            <button type="submit" class="btn btn-primary">Salva</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
}

@if (mostraMessaggio)
{
    <div class="modal show" tabindex="-1" style="display: block; background: rgba(0, 0, 0, 0.5);">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="messaggioTitle">Successo</h1>
                    <button type="button" class="btn-close" @onclick="ChiudiMessaggio" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>La tipologia documento è stata aggiunta con successo!</p>
                </div>
            </div>
        </div>
    </div>
}

<table>
    <tr>
        <th>Descrizione</th>
    </tr>
</table>

<label for="scelta">Scegli: </label>

<div class="container mt-3">
    <div class="btn-group" role="group" aria-label="Scelta">
        <button type="button" class="btn btn-primary" onclick="selectOption('si')">Sì</button>
        <button type="button" class="btn btn-secondary" onclick="selectOption('no')">No</button>
    </div>
</div>

<table>
    <tr>
        <th>Descrizione</th>

    </tr>

    @if (listaTipologiaDocumenti != null)

        @foreach (var sede in listaTipologiaDocumenti)
        {
            <tr>
                <td>@sede.Descrizione</td>
            </tr>
        }
</table>


<table>
    <tr>
        <th>Descrizione</th>
    </tr>
</table>

<label for="scelta">Scegli: </label>

<div class="container mt-3">
    <div class="btn-group" role="group" aria-label="Scelta">
        <button type="button" class="btn btn-primary" onclick="selectOption('si')">Sì</button>
        <button type="button" class="btn btn-secondary" onclick="selectOption('no')">No</button>
    </div>
</div>


@code
{
    private bool mostraFinestraModale = false;
    private bool mostraMessaggio = false;
    private TipologiaDocumento nuovaTipologiaDocumento = new TipologiaDocumento();
    private List<TipologiaDocumento>? listaTipologiaDocumenti;

    private void ApriFinestraModale()
    {
        mostraFinestraModale = true;
    }

    private void ChiudiFinestraModale()
    {
        mostraFinestraModale = false;
    }

    private void ChiudiMessaggio()
    {
        mostraMessaggio = false;
    }

    protected override async Task OnInitializedAsync()
    {

        await GetAll();
    }

    private async Task GetAll()
    {
        try
        {
            listaTipologiaDocumenti = await HttpClient.GetFromJsonAsync<List<TipologiaDocumento>>("api/TipologiaDocumento");
        }
        catch (HttpRequestException)
        {
            return;
        }

    }

    private async Task AggiungiTipologiaDocumenti()
    {
        if (IsValid(nuovaTipologiaDocumento))
        {
            var response = await HttpClient.PostAsJsonAsync("api/TipologiaDocumento", nuovaTipologiaDocumento);

            if (response.IsSuccessStatusCode)
            {
                var tipologiadocumentiCreato = await response.Content.ReadFromJsonAsync<TipologiaDocumento>();
                if (listaTipologiaDocumenti != null && tipologiadocumentiCreato != null)
                {
                    listaTipologiaDocumenti.Add(tipologiadocumentiCreato);
                    nuovaTipologiaDocumento = new TipologiaDocumento();
                    mostraFinestraModale = false;
                    mostraMessaggio = true;
                }
            }
            else
            {
                Console.WriteLine("Errore durante l'aggiunta della tipologia documento.");
            }
        }
    }

    private bool IsValid(TipologiaDocumento tipologiaDocumenti)
    {
        return !string.IsNullOrWhiteSpace(tipologiaDocumenti.Descrizione);
    }
}







