<h3>TipologiaContratti</h3>
@page "/TipologiaContratti"
@using HumanResourcesManagementAPI.Models
@inject HttpClient HttpClient
@inject Microsoft.AspNetCore.Components.NavigationManager NavigationManager
@inject IJSRuntime JS


<button type="button" class="btn btn-primary" @onclick="ApriFinestraModale">Aggiungi Tipologia Contratti</button>
@if (mostraFinestraModale)
{
    <div class="modal show" tabindex="-1" style="display: block; background: rgba(0, 0, 0, 0.5);">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Dati TipologiaContratti</h1>
                    <button type="button" class="btn-close" @onclick="ChiudiFinestraModale" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form @onsubmit="AggiungiTipologiaContratti">
                        Descrizione <input type="text" class="form-control" @bind="nuovaTipologiaContratti.Descrizione" required /><br />


                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" @onclick="ChiudiFinestraModale">Chiudi</button>
                            <input type="reset" class="btn btn-secondary" value="Cancella" />
                            <button type="submit" class="btn btn-primary">Salva</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
}

@if (mostraMessaggio)
{
    <div class="modal show" tabindex="-1" style="display: block; background: rgba(0, 0, 0, 0.5);">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="messaggioTitle">Successo</h1>
                    <button type="button" class="btn-close" @onclick="ChiudiMessaggio" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>La tipologia contratti è stata aggiunta con successo!</p>
                </div>
            </div>
        </div>
    </div>
}

<table>
    <tr>
        <th>Descrizione</th>

    </tr>

    @if (listaTipologiaContratti != null)

        @foreach (var sede in listaTipologiaContratti)
        {
            <tr>
                <td>@sede.Descrizione</td>
            </tr>
        }
</table>

@code
{
    private bool mostraFinestraModale = false;
    private bool mostraMessaggio = false;
    private TipologiaContratti nuovaTipologiaContratti = new TipologiaContratti();
    private List<TipologiaContratti>? listaTipologiaContratti;

    private void ApriFinestraModale()
    {
        mostraFinestraModale = true;
    }

    private void ChiudiFinestraModale()
    {
        mostraFinestraModale = false;
    }

    private void ChiudiMessaggio()
    {
        mostraMessaggio = false;
    }

    protected override async Task OnInitializedAsync()
    {

        await GetAll();
    }

    private async Task GetAll()
    {
        try
        {
            listaTipologiaContratti = await HttpClient.GetFromJsonAsync<List<TipologiaContratti>>("api/TipologiaContratti");
        }
        catch (HttpRequestException)
        {
            return;
        }

    }

    private async Task AggiungiTipologiaContratti()
    {
        if (IsValid(nuovaTipologiaContratti))
        {
            var response = await HttpClient.PostAsJsonAsync("api/TipologiaContratti", nuovaTipologiaContratti);

            if (response.IsSuccessStatusCode)
            {
                var tipologiacontrattiCreato = await response.Content.ReadFromJsonAsync<TipologiaContratti>();
                if (listaTipologiaContratti != null && tipologiacontrattiCreato != null)
                {
                    listaTipologiaContratti.Add(tipologiacontrattiCreato);
                    nuovaTipologiaContratti = new TipologiaContratti();
                    mostraFinestraModale = false;
                    mostraMessaggio = true;
                }
            }
            else
            {
                Console.WriteLine("Errore durante l'aggiunta della tipologia contratti.");
            }
        }
    }

    private bool IsValid(TipologiaContratti tipologiacontratti)
    {
        return !string.IsNullOrWhiteSpace(tipologiacontratti.Descrizione);
    }
}




    <table>
        <tr>
            <th>Descrzione</th>
        </tr>
    </table>

    <label for="scelta">Scegli: </label>

    <div class="container mt-3">
        <div class="btn-group" role="group" aria-label="Scelta">
            <button type="button" class="btn btn-primary" onclick="selectOption('si')">Sì</button>
            <button type="button" class="btn btn-secondary" onclick="selectOption('no')">No</button>
        </div>
    </div>

