<h3>TipologiaContratti</h3>
@page "/TipologiaContratti"
@using HumanResourcesManagementAPI.Models
@inject HttpClient HttpClient
@inject Microsoft.AspNetCore.Components.NavigationManager NavigationManager
@inject IJSRuntime JS


<button type="button" class="btn btn-primary" @onclick="ApriFinestraModale">Aggiungi Tipologia Contratti</button>
@if (mostraFinestraModale)
{
    <div class="modal show" tabindex="-1" style="display: block; background: rgba(0, 0, 0, 0.5);">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Dati TipologiaContratti</h1>
                    <button type="button" class="btn-close" @onclick="ChiudiFinestraModale" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form @onsubmit="AggiungiTipologiaContratti">
                        Descrizione <input type="text" class="form-control" @bind="nuovaTipologiaContratti.Descrizione" required /><br />
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" @onclick="ChiudiFinestraModale">Chiudi</button>
                            <input type="reset" class="btn btn-secondary" value="Cancella" />
                            <button type="submit" class="btn btn-primary">Salva</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
}


@if (mostraMessaggio)
{
    <div class="modal show" tabindex="-1" style="display: block; background: rgba(0, 0, 0, 0.5);">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="messaggioTitle">Successo</h1>
                    <button type="button" class="btn-close" @onclick="ChiudiMessaggio" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>La tipologia contratti è stata aggiunta con successo!</p>
                </div>
            </div>
        </div>
    </div>
}

<table>
    <tr>
        <th>Descrizione</th>
        <th>Modifica</th>
        <th>Elimina</th>

    </tr>
</table>

    @if (listaTipologiaContratti != null)

        @foreach (var tipologiaContratto in listaTipologiaContratti)
        {
            <tr>
                <td>@tipologiaContratto.Descrizione</td>
            </tr>
        }


@code
{
    private bool mostraFinestraModale = false;
    private bool mostraMessaggio = false;
    private bool mostraFinestraModifica = false;

    private TipologiaContratto nuovaTipologiaContratti = new TipologiaContratto();
    private List<TipologiaContratto>? listaTipologiaContratti;
    private TipologiaContratto? TipologiaContrattoDaModificare = null;
    private TipologiaContratto? TipologiaContrattoDaEliminare = null;

    private void TipologiaContratto(TipologiaContratto tipologiacontratto)
    {
        TipologiaContrattoDaModificare = tipologiacontratto;
    }

    private async Task SalvaModifiche()
    {
        if (TipologiaContrattoDaModificare != null)
        {
            var response = await HttpClient.PutAsJsonAsync("api/TipologiaContratto", TipologiaContrattoDaModificare);

            if (response.IsSuccessStatusCode)
            {
                TipologiaContrattoDaModificare = null;
                await GetAll();
            }
            else
            {
                Console.WriteLine("Errore durante la modifica della tipologia contratto");
            }
        }
    }

    private void EliminaTipologiaContratto(TipologiaContratto tipologiacontratto)
    {
        TipologiaContrattoDaEliminare = tipologiacontratto;
    }

    private void AnnullaEliminazione()
    {
        TipologiaContrattoDaEliminare = null;
    }

    private async Task ConfermaEliminazione()
    {
        if (TipologiaContrattoDaEliminare != null)
        {
            var response = await HttpClient.DeleteAsync($"api/Candidato/{TipologiaContrattoDaEliminare.Id}");

            if (response.IsSuccessStatusCode)
            {
                TipologiaContrattoDaEliminare = null;
                await GetAll();
            }
            else
            {
                Console.WriteLine("Errore durante l'eliminazione della Tipologia Contratto.");
            }
        }
    }

    private void ApriFinestraModale()
    {
        mostraFinestraModale = true;
    }

    private void ChiudiFinestraModale()
    {
        mostraFinestraModale = false;
    }

    private void ChiudiMessaggio()
    {
        mostraMessaggio = false;
    }

    protected override async Task OnInitializedAsync()
    {

        await GetAll();
    }

    private async Task GetAll()
    {
        try
        {
            listaTipologiaContratti = await HttpClient.GetFromJsonAsync<List<TipologiaContratto>>("api/TipologiaContratti");
        }
        catch (HttpRequestException)
        {
            return;
        }

    }

    private async Task AggiungiTipologiaContratti()
    {
        if (IsValid(nuovaTipologiaContratti))
        {
            var response = await HttpClient.PostAsJsonAsync("api/TipologiaContratti", nuovaTipologiaContratti);

            if (response.IsSuccessStatusCode)
            {
                var tipologiacontrattiCreato = await response.Content.ReadFromJsonAsync<TipologiaContratto>();
                if (listaTipologiaContratti != null && tipologiacontrattiCreato != null)
                {
                    listaTipologiaContratti.Add(tipologiacontrattiCreato);
                    nuovaTipologiaContratti = new TipologiaContratto();
                    mostraFinestraModale = false;
                    mostraMessaggio = true;
                }
            }
            else
            {
                Console.WriteLine("Errore durante l'aggiunta della tipologia contratti.");
            }
        }
    }

    private bool IsValid(TipologiaContratto tipologiaContratto)
    {
        return !string.IsNullOrWhiteSpace(tipologiaContratto.Descrizione);
    }
}




  
