<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">



<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">HumanResourcesManagement</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu" style="height: 100vh;">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="oi oi-plus" aria-hidden="true"></span> Counter
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdata">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="test">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Test
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="AnagraficaSedi">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Anagrafica Sedi
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="dropdown nav-link" @onclick="ToggleCandidatoMenu">
                <span class="fas fa-user" aria-hidden="true" ></span>
                <span class="space-between">
                    Candidato
                </span>
                <span class="arrow-icon @(subCandidatoVisible ? "rotate-down" : "")" aria-hidden="true">
                    @if (subCandidatoVisible)
                    {
                        
                        <span class="mx-5">▼</span>
                    }
                    else
                    {

                        <span class="mx-5"> ◀</span>
                    }
                </span>
            </NavLink>
        </div>
        @if (subCandidatoVisible)
        {
            <div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="AnagraficaCandidato">
                        <span class="fas fa-address-card" aria-hidden="true"></span>
                        <span class="space-between">
                            Anagrafica
                        </span>
                    </NavLink>
                </div>
              
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="SoftSkills">
                        <span class="fas fa-briefcase" aria-hidden="true"></span>
                        <span class="space-between">
                            Soft Skills
                        </span>
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="HardSkills">
                        <span class="fas fa-briefcase" aria-hidden="true"></span>
                        <span class="space-between">
                            Hard Skills
                        </span>
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="TitoliDiStudio">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Titoli Di Studio
                    </NavLink>
                </div>
            </div>
        }
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="TipologieColloquio">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Tipologie Colloquio
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="dropdown nav-link" @onclick="ToggleContrattoMenu">
                <span class="fas fa-file-contract" aria-hidden="true"></span>
                <span class="space-between">
                    Contratto
                </span>
                <span class="arrow-icon @(subContrattoVisible ? "rotate-down" : "")" aria-hidden="true">
                    @if (subContrattoVisible)
                    {

                        <span class="mx-5">▼</span>
                    }
                    else
                    {

                        <span class="mx-5"> ◀</span>
                    }
                </span>
            </NavLink>
        </div>
            @if (subContrattoVisible)
            {
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="TipologieContratti">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Tipologie Contratti
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="LivelliContrattuali">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Livelli Contrattuali
                    </NavLink>
                </div>
               
            }
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="TipologiaDocumenti">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Tipologie Documenti
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Benefits">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Benefits
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Mansioni">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Mansioni
            </NavLink>
        </div>

    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private bool isCandidatoClicked = false;
    private bool subCandidatoVisible = false;
    private bool isContrattoClicked = false;
    private bool subContrattoVisible = false;

    private void ToggleCandidatoMenu()
    {

        isCandidatoClicked = !isCandidatoClicked;
        subCandidatoVisible = isCandidatoClicked;

    }

    private void ToggleContrattoMenu()
    {
        isContrattoClicked = !isContrattoClicked;
        subContrattoVisible = isContrattoClicked;

    }
    private bool isNavMenuOpen = false;

    private string NavMenuCssClassDrop => isNavMenuOpen ? "full-width-menu" : "";

    private void ToggleNavMenuDrop()
    {
        isNavMenuOpen = !isNavMenuOpen;
    }
}
